<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">
        <img src="/res/materialize.svg">
      </a>
      <a href="#" data-target="slide-out" class="left sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/api/devices">Devices API</a></li>
        <li><a href="/res/DOCUMENTATION.txt">Documentation</a></li>
        <li><a href="https://github.com/GalaticStryder/json-lineage-v2">Github</a></li>
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="/res/flight.jpg">
        </div>
        <a href="#user">
          <img class="circle" src="/res/escobar.jpg">
        </a>
        <a href="#name">
          <span class="white-text name">Pablo Escobar</span>
        </a>
        <a href="#email">
          <span class="white-text email">pablito.escobar@cmedellin.com</span>
        </a>
      </div>
    </li>
    <li>
      <a href="#!">
        <i class="material-icons">cloud</i>First Link With Icon</a>
    </li>
    <li>
      <a href="#!">Second Link</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a class="subheader">Subheader</a>
    </li>
    <li>
      <a class="waves-effect" href="#!">Third Link With Waves</a>
    </li>
  </ul>
</header>
