/* You can add global styles to this file, and also import other style files */

app-root:empty::after {
  content: 'Loading…';
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}
