<div *ngIf="update" class="row">
  <div class="col s12 m5 offset-m2">
    <h4 *ngIf="updateNumber !== null">Update Information</h4>
    <p *ngIf="updateNumber !== null">Showing information for <i>Update Number</i> <b>#{{ updateNumber }}</b>.</p>
    <h4 *ngIf="updateNumber === null">New Update</h4>
    <p *ngIf="updateNumber === null">Creating new update for <i>Device ID</i> <b>#{{ device._id }}</b>.</p>
    <form class="col s12">
      <div class="form-group">
        <label for="update-id">ID</label>
        <input class="form-control" name="update-id" [(ngModel)]="update.id" placeholder="ID" disabled/>
      </div>
    </form>
    <form class="col s12">
      <div class="form-group">
        <label for="update-datetime">Date</label>
        <input class="form-control" name="update-datetime" [(ngModel)]="update.datetime" placeholder="Date" disabled/>
      </div>
    </form>
    <form>
      <mat-form-field class="col s6">
        <mat-select name="update-romtype" [(ngModel)]="update.romtype" placeholder="ROM Type" required>
          <mat-option *ngFor="let type of romTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col s6">
        <mat-select name="update-version" [(ngModel)]="update.version" placeholder="ROM Version" required>
          <mat-option *ngFor="let version of romVersions" [value]="version.value">
            {{version.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form class="col s12">
      <div class="form-group">
        <label for="update-filename">File Name</label>
        <input class="form-control" name="update-filename" [(ngModel)]="update.filename" placeholder="File Name"/>
      </div>
    </form>
    <form class="col s12">
      <label for="update-size">Size in <b>bytes</b></label>
      <mat-slider class="slider-margin" name="update-size" min="1000000" max="1000000000" step="1000000" thumbLabel="true" [(ngModel)]="update.size"></mat-slider>
    </form>
    <a class="waves-effect waves-light btn" *ngIf="updateNumber === null" (click)="createUpdate(update)"><i class="material-icons right">create</i>Create</a>
  </div>
</div>
