<div *ngIf="update" class="row">
  <div class="col s12 m5 offset-m2">
    <h4 *ngIf="updateNumber !== null">Update Information</h4>
    <p *ngIf="updateNumber !== null">Showing information for <i>Update Number</i> <b>#{{ updateNumber }}</b>.</p>
    <h4 *ngIf="updateNumber === null">New Update</h4>
    <p *ngIf="updateNumber === null">Creating new update for <i>Device ID</i> <b>#{{ device._id }}</b>.</p>
    <form class="col s12">
      <div class="form-group">
        <label for="update-id">ID</label>
        <input class="form-control" name="update-id" [(ngModel)]="update.id" placeholder="ID" disabled/>
        <div class="chip">
          <b>Disabled</b>
          <i class="close material-icons">close</i>
        </div>
      </div>
    </form>
    <form class="col s12">
      <div class="form-group">
        <label for="update-datetime">Date</label>
        <input class="form-control" name="update-datetime" [(ngModel)]="update.datetime" placeholder="Date" disabled/>
        <div class="chip">
          <b>Disabled</b>
          <i class="close material-icons">close</i>
        </div>
      </div>
    </form>
    <!-- TODO: Import mat-select from Angular instead. -->
    <!--div class="input-field col s12">
      <select [(ngModel)]="update.romtype">
        <option [ngValue]="" disabled selected>Choose the build type</option>
        <option [ngValue]="unofficial">Unofficial</option>
        <option [ngValue]="release">Release</option>
        <option [ngValue]="nightly">Nightly</option>
        <option [ngValue]="snapshot">Snapshot</option>
        <option [ngValue]="experimental">Experimental</option>
      </select>
      <label>ROM Type</label>
    </div-->
    <a class="waves-effect waves-light btn" *ngIf="updateNumber === null" (click)="createUpdate(update)"><i class="material-icons right">create</i>Create</a>
  </div>
</div>
